<div class="show_padrao">

<h1>Editar Motivo</h1>

<% form_for(@motivo) do |f| %>
  <%= mensagem_de_erro(@motivo) %>

  <div class="show_linha">
    <div class="linha_titulo"><%= f.label :descricao, "Descrição:" %></div>
    <div class="linha_texto_neutro"><%= f.text_field :descricao %></div>
  </div>

  <div class="botao_concluir"><%= f.submit 'Atualizar' %></div>

<% end %>
</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
  </ul>
</div>

