<% if current_user.has_role? :admin %>
  <% admin = "True" %>
  <a href="/motivos/new" class="link_new">Adicionar Motivos</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th class="celula_neutra_estatica"></th>
    <th>Descrição</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @motivos.each do |motivo| %>
  <tr>
    <%= td_status motivo %>
    <%= td_clickable motivo_path(motivo), motivo.descricao %>
    <% if admin %>
      <%= td_clickable edit_motivo_path(motivo),
                       image_tag("editar_dado.png", :border => 0, :alt => "Editar") %>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

