<div class="show_padrao">

  <h1>Dados do Motivo</h1>

  <p>
    <label>Descrição:</label>
    <span><%=h @motivo.descricao %></span>
  </p>

  <p>
    <label>Status:</label>
    <span><%=h @motivo.status %></span>
  </p>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_motivo_path(@motivo) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_motivo_path(@motivo) %></li>
  </ul>
</div>

