<div class="show_padrao">

  <h1>Dados do Motivo</h1>

  <div class="show_linha">
    <div class="linha_titulo">Descri&ccedil;&atilde;o:</div>
    <div class="linha_texto"><%=h @motivo.descricao %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Estado:</div>
    <div class="linha_texto"><%=h @motivo.estado %></div>
  </div>  

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_motivo_path(@motivo) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_motivo_path(@motivo) %></li>
  </ul>
</div>

