<% if current_user.has_role? :admin %>
  <% admin = "True" %>
  <a href="/categoria_de_veiculos/new" class="link_new">Adicionar Categoria de Veículo</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th class="celula_neutra_estatica"></th>
    <th>Nome</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @categoria_de_veiculos.each do |categoria_de_veiculo| %>
  <tr>
    <%= td_status categoria_de_veiculo %>
    <%= td_clickable categoria_de_veiculo_path(categoria_de_veiculo), categoria_de_veiculo.nome %>
    <% if admin %>
      <%= td_clickable edit_categoria_de_veiculo_path(categoria_de_veiculo),
                       image_tag("editar_dado.png", :border => 0, :alt => "Editar") %>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

