<div class="show_padrao">

  <h1>Dados da Categoria de ve&iacute;culo</h1>

  <div class="show_linha">
    <div class="linha_titulo">Nome:</div>
    <div class="linha_texto"><%=h @categoria_de_veiculo.nome %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Estado:</div>
    <div class="linha_texto"><%=h @categoria_de_veiculo.status %></div>
  </div>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_categoria_de_veiculo_path(@categoria_de_veiculo) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_categoria_de_veiculo_path(@categoria_de_veiculo) %></li>
  </ul>
</div>

