<% if current_user.has_role? :admin %>
  <% admin = "True" %>
  <a href="/objetivos_de_reserva/new" class="link_new">Adicionar Objetivo de reserva</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th class="celula_neutra_estatica"></th>
    <th>Texto</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @objetivos_de_reserva.each do |objetivo_de_reserva| %>
  <tr>
    <%= td_status objetivo_de_reserva %>
    <%= td_clickable objetivo_de_reserva_path(objetivo_de_reserva), objetivo_de_reserva.texto %>
    <% if admin %>
      <%= td_clickable edit_objetivo_de_reserva_path(objetivo_de_reserva),
                 image_tag("editar_dado.png", :border => 0, :alt => "Editar") %>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

