<div class="show_padrao">

  <h1>Dados do Objetivo de reserva</h1>

  <div class="show_linha">
    <div class="linha_titulo">Texto:</div>
    <div class="linha_texto"><%=h @objetivo_de_reserva.texto %></div>
  </div>

  <div class="show_linha">
    <div class="linha_titulo">Estado:</div>
    <div class="linha_texto"><%=h @objetivo_de_reserva.status %></div>
  </div>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_objetivo_de_reserva_path(@objetivo_de_reserva) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_objetivo_de_reserva_path(@objetivo_de_reserva) %></li>
  </ul>
</div>

