<% if current_user.has_role? :admin %>
  <% admin = "True" %>
  <a href="/combustiveis/new" class="link_new">Adicionar Combustível</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th>Nome</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @combustiveis.each do |combustivel| %>
  <tr>
    <%= td_clickable combustivel_path(combustivel), combustivel.nome %>
    <% if admin %>
      <%= td_clickable edit_combustivel_path(combustivel),
                       image_tag("editar_dado.png", :border => 0, :alt => "Editar") %>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

