<div class="show_padrao">

  <h1>Dados do combust&iacute;vel</h1>

  <p>
    <label>Nome:</label>
    <spam><%=h @combustivel.nome %></spam>
  </p>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_combustivel_path(@combustivel) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_combustivel_path(@combustivel) %></li>
  </ul>
</div>

