  <p>
    <%= f.label :orgao_utilizador, "Órgão utilizador:" %>
    <%= f.text_field :orgao_utilizador %>
  </p>

  <p>
    <%= f.label :nome_do_setor, "Setor de transporte" %>
    <%= f.text_field :nome_do_setor %>
  </p>

