<div class="show_padrao">
  <h1>Configurações</h1>

  <% form_for(@configuracao) do |f| %>
    <%= mensagem_de_erro(@combustivel) %>

    <%= render :partial => mostrar_formulario(request.path), :locals => {:f => f} %>

    <p>
      <%= f.submit 'Salvar' %>
    </p>

  <% end %>

</div>

