<div id="tabela_exibir">
  <div class="index_base_de_dados">
    <ul>
      <li><%= link_to 'Instituição utilizadora', config_instituicao_path %></li>
      <li><%= link_to 'Formulário de requisição', config_formulario_requisicao_path %></li>
    </ul>
  </div>
</div>

