<% if current_user.has_role? :admin %>
  <% admin = "True" %>
  <a href="/prefixos/new" class="link_new">Adicionar Prefixo</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th class="celula_neutra_estatica"></th>
    <th>Nome</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @prefixos.each do |prefixo| %>
  <tr>
    <%= td_status prefixo %>
    <%= td_clickable prefixo_path(prefixo), prefixo.nome %>
    <% if admin %>
      <%= td_clickable edit_prefixo_path(prefixo),
                       image_tag("editar_dado.png", :border => 0, :alt => "Editar") %>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

