<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      EMAIL AUTOM&Aacute;TICO. Sua solicita&ccedil;&atilde;o foi enviada com sucesso.
    </p>
    <p>
      Aguarde a resposta da ASTRAN.
    </p>
    <br/>
    <p>
      Caso queira visualizar os dados de sua requisi&ccedil;&atilde;o, clique no link abaixo:
      <br/>
      <%= link_to visualizar_requisicao_path(:id => @requisicao.id, :chave_de_seguranca => @requisicao.chave_de_seguranca) ,
      "Ver detalhes de sua requisi&ccedil;&atilde;o." %>
    </p>
    <br/>
    <br/>
    <p>
      Caso deseje cancelar sua requisi&ccedil;&atilde;o, clique no link abaixo: <br/>
      <br/>
      <%= link_to cancelar_requisicao_path(:id => @requisicao.id, :chave_de_seguranca => @requisicao.chave_de_seguranca) ,
      "Cancelar sua requisi&ccedil;&atilde;o." %>
    </p>
    <br/>
  </body>
</html>

