<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <p>
        <%=h @solicitante.nome %>,
      </p>
      <p> 
        Gostaríamos de informar que não foi possível fazer o agendamento da solicitação com número de protocolo <%= @requisicao.id %> pelo seguinte motivo:
      </p>
      <ul>
        <li><%= @motivo.descricao %></li>
      </ul>
    </p>
    <% if @observacao != "" %>
      <p>
        <%= @observacao %>
      </p>
    <% end %>
    <p>
      <div style="color: #a2a2a2">Este é um e-mail autom&aacute;tico. Não responda.<br />
      ASTRAN/UENF<br />
      Ramais: 97025 / 97026
      </div>
    </p>
  </body>
</html>

