<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Bom dia, estamos desconsiderando o agendamento,
      considerando que est&aacute; em duplicidade com a reserva nยบ <%=h @numero_de_reserva_conflitante %>.
    </p>
    <br/>
    <p>
      Att,
        Ailton A. da Silva
    </p>
    <br/>
    <p>
      ASTRAN/UENF
    </p>

  </body>
</html>

