<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Bom dia, confirmamos o agendamento.
    </p>
    <p>
      Entretanto, solicito que o horário de retorno (às 12h na UENF) seja mantido,
      considerando que o motorista terá outra agenda na parte da tarde.
    </p>
    <br/>
    <p>
      Att,
        Ailton A. da Silva
    </p>
    <br/>
    <p>
      ASTRAN/UENF
    </p>

  </body>
</html>

