<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Bom dia, vimos informar que a ASTRAN n&atilde;o tem possibilidade de agendar ida e volta do passageiro  para o mesmo dia,
      em virtude do n&uacute;mero insuficiente de motorista para realiza&ccedil;&atilde;o de agendas desta natureza.
      Pois seria humanamente imposs&iacute;vel o mesmo motorista realizar duas viagens &agrave; <%=h @destino %> no mesmo dia.
    </p>
    <p>
      Sendo assim, CONFIRMAMOS somente a vinda dele no dia <%=h @data %>, mas seu retorno s&oacute; poder&aacute; ser feito
      pela ASTRAN no dia seguinte.
      Podemos confirmar?
    </p>
    <br/>
    <p>
      Aguardamos resposta.
    </p>
    <br/>
    <p>
      Att,
        Ailton A. da Silva
    </p>
    <br/>
    <p>
      ASTRAN/UENF
    </p>

  </body>
</html>

