<div class="show_padrao">
  <div id="acesso_negado">
    <h2>Acesso Negado!</h2>
    <span class="descricao">Você não tem permissão para acessar essa área.<br />
    Clique aqui para <a href="javascript: history.back(-1)">voltar</a>.
    </span>
</div>

