<div class="erro_404">
  <h2>O endereço solicitado não existe.</h2>
  <p>Verifique se o endereço está digitado corretamente.</p>
  <p><a href="javascript: history.back(-1)" class="error">Voltar</a><p>
</div>

