body {
	width: 750px;
	padding: 10px;
	border: solid 1px #000000;
	border-bottom: solid 20px #000000;
	position: absolute;
	left: 50%;
	margin-left: -375px;
	font-family: Verdana, Arial;
	font-size: 13px;
}

p {
    clear: both;
}

p.legenda_obrigatorio {
	font: 10px Verdana;
	font-weight: normal;
	color: red;
}

a {
    font: 12px Sans, Verdana;
    color: black;
    padding: 8px;
    padding-left: 30px;
    border: solid 2px #A0A0A0;
    background-color: #FFFFFF;
}

a:hover {
    color: #000000;
    border: 2px solid #000000;
}

a.imprimir {
    background: url("/images/imprimir_miniatura.png") no-repeat;
    background-position: 10px center;
}

a.voltar {
    background: url("/images/voltar_miniatura.png") no-repeat;
    background-position: 10px center;
}

h1 {
	padding-top: 20px;
	font: bold 20px Verdana;
}

fieldset {
	border: solid 1px #000000;
	margin-bottom: 50px;
}

legend {
    float: left;
	font: bold 12px Verdana;
}

select {
	border: 1px solid #AAAAAA;
}

label {
    font: bold 12px Verdana;
}

.label,
.label_obrigatorio {
    padding-right: 8px;
	width: 180px;
	margin: 2px;
	padding: 3px;
	background-color: #EEEEEE;
	float: left;
	text-align: right;
}

.label_obrigatorio {
	color: red
}

.label_lateral {
    padding-right: 8px;
    margin: 2px;
    margin-bottom: 20px;
    float: left;
    width: 180px;
    height: 310px;
	background-color: #EEEEEE;
}

.label_lateral ul{
    padding-left: 15px;
    font: bold 10px Verdana;
}

.label_lateral ul li{
    padding: 3px;
    font: normal 10px Verdana;
    margin-left: 15px;
}

textarea {
    margin: 2px;
	width: 500px;
	height: 305px;
}

.termo input,
.termo label {
    color: red;
    float: left;
    margin-left: 0;
    margin-top: 5px;
}

.termo textarea {
	width: 695px;
	height: 280px;
	border: 1px solid #AAAAAA;
	margin: 0;
}

#cabecalho {
    clear: both;
    width: 750px;
    height: 138px;
    background-image: url("/images/topo.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#matricula,
#requisicao_celular {
	width: 100px;
}


#requisicao_data_de_reserva_br,
#data_de_reserva_ida_volta_br {
    width: 80px;
}

#requisicao_submit {
	float: right;
	width: auto;
}

.campo_obrigatorio {
	color: red;
}

.invisivel
{
    display: none;
}

.visivel
{
    display: block;
}

#ida_e_volta {
    background-color: #EEEEEE;
    padding: 1px 20px 1px 20px;
}

#ida_e_volta span {
    margin: 50px;
}

div.sucesso {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    background :#DFFFDF url(../images/verdadeiro.png) no-repeat scroll 8px 5px;
    color :#005F00;
    border: 2px solid #9FCF9F;
    padding: 3px 3px 3px 30px;
}

/* errorExplanation */

#errorExplanation {
  margin-top: 15px;
  margin-left: 170px;
  width: 400px;
  border: 2px solid #c00;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 35px;
  font-size: 16px;
  margin: -7px;
  background: #ff8989 url(../images/erro.png) no-repeat scroll 8px 5px;;
  border-bottom: 2px solid #c00;
  color: #c00;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
  font-size: 14px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

