/*
** estilos gerais
*/

body {
    position: absolute;
    width: 1020px;
    left: 50%;
    margin-top: 0px;
    margin-left: -510px;
    font-family: Verdana, Arial;
    font-size: 13px
}

a {
    text-decoration: underline;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

/*
** CABEÇALHO
*/

#cabecalho {
    padding: 0px;
    margin: 0px;
    clear: both;
    display: table;
    width: 100%;
    background: url("/images/fundo_topo.png");
}

#cabecalho #logotipo {
    padding: 0px;
    margin: 0px;
    width: 350px;
    height: 100px;
    float: left;
    background-image: url("/images/sgtran.png");
    background-position: center;
    background-repeat: no-repeat;
}

#cabecalho #nome_sistema {
    float: left;
    margin-top: 15px;
}

#cabecalho #nome_sistema h1{
    font-size: 20px;
    font-weight: bold;
    color: #1A60B0;
    margin: 0px;
}

#cabecalho #nome_sistema h2{
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    margin: 0px;
}

#cabecalho #nome_sistema h3{
    font-size: 10px;
    font-weight: bold;
    color: #999999;
    margin: 0px;
}

#cabecalho #nome_sistema h4{
    font-size: 10px;
    font-weight: bold;
    color: #999999;
    margin: 0px;
}

#cabecalho #login {
    padding: 20px;
    float: right;
}

#cabecalho #login #logout {
    background-image: url("/images/logout.png");
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
}

/*
** VISÕES DO SISTEMA
*/

#abas_do_sistema {
    clear: both;

}

#abas_do_sistema ul {
    margin: 0px;
    margin-top: 15px;
    padding-left: 10px;
}

#abas_do_sistema ul li {
    float: left;
    margin: 0px;
    margin-right: 5px;
    padding: 5px;
    list-style-position: inside;

    font-size: 14px;
    color: #000000;

/*    border: solid 1px #999999;*/
/*    border-bottom: solid 1px #F5F5F5;*/
/*    background-color: #F5F5F5;*/

    border-color: #999999;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
}

    /*********************************************/

#abas_do_sistema ul #opcao_requisicao {
    list-style-image: url("/images/requisicoes.png");
}

#abas_do_sistema ul #opcao_viagem {
    list-style-image: url("/images/viagens.png");
}

#abas_do_sistema ul #opcao_bdt {
    list-style-image: url("/images/bdts.png");
}

#abas_do_sistema ul #opcao_base_de_dados {
    list-style-image: url("/images/base_de_dados.png");
}

#abas_do_sistema ul #opcao_relatorios {
    list-style-image: url("/images/relatorios.png");
}

    /*********************************************/

#abas_do_sistema ul li a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

#abas_do_sistema ul li:hover {
    background-color: #F5F5F5;
}

/*
** VISÕES DA BASE DE DADOS
*/

#visoes_da_base_de_dados {
    clear: both;
    padding: 10px;
    display: table
}

#visoes_da_base_de_dados ul {
    margin: 0px;
    margin-top: 15px;
    padding-left: 10px;

}

/*
** Relatórios
*/

div.index_relatorios {
    margin-right: 40%;
}

div.index_relatorios ul li {
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #d2d2d2;
    padding: 7px 0px 2px 0px;
}

div.index_relatorios a:link,
div.index_relatorios a:visited {
    color: #5B80B2;
    text-decoration: none;
}


/*
** BASE DE DADOS
*/

div.index_base_de_dados {
    margin-right: 50%;
}

div.index_base_de_dados ul li {
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #d2d2d2;
    padding: 2px;
}

div.index_base_de_dados a:link,
div.index_base_de_dados a:visited {
    color: #5B80B2;
    text-decoration: none;
}

div.index_base_de_dados span a {
    background: transparent url("/images/add.gif") no-repeat scroll 0 0.2em;
    padding-left: 13px;
    float: right;
    font-weight: normal;
}

#tabela_exibir_base_de_dados {
    width: 998px;
    margin: 0px;
    height: auto;
    background-color: #F5F5F5;
    display: table
}

#base_de_dados {
    margin-top: 10px
}

table.tabela_base_de_dados {
    width: 977px;
    background-color: #EEEEEE;
}

table.tabela_base_de_dados tr {
    padding: 2px;
    font-size: 14px;
    background-color: #FFFFFF;
}

table.tabela_base_de_dados tr:hover {
    background-color: #B9CEE4;
}

table.tabela_base_de_dados tr th {
    background-image: url("/images/fundo_tabela_01.jpg");
    padding: 5px;
}

table.tabela_base_de_dados tr th.celula_neutra_estatica {
    background-color: #EEEEEE;
    background-image: none;
    width: 15px;
}

table.tabela_base_de_dados tr td {
    font-size: 13px;
}

/*
** TABELA DE EXIBIÇĨOES
*/

#tabela_exibir {
    width: 100%;
    width: 1020px;
    margin: 0px;
    margin-top: -1px;
    padding: 0px;
    height: auto;
    background-color: #F5F5F5;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
    border-left: 0px none;
    border-right: 0px none;
}

#exibir {
    margin-top: -1px;
    padding: 0px;
    border: solid 1px #999999;
    background-color: #F5F5F5;

}

#exibir p{
    margin: 0px;
    padding: 2px;
    font-size: 12px;
}

/*
** SHOW PADRÃO
*/

.show_padrao {
    background-color: #F5F5F5;
    width: 100%;
    border: solid 1px #999999;
    padding: 0px 0px 15px 0px;
    display: table;
    margin-top: -1px;
}

.show_padrao h1 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-image: url("/images/fundo_tabela_01.jpg");
    padding: 5px;
    margin: 2px 2px 10px 2px;
    clear: both;
}

.show_padrao p {
    margin: 2px;
    padding: 0px;
}

.show_padrao label {
    background-color: #EFEFEF;
    float: left;
    font-weight: bold;
    margin: 1px;
    padding: 2px;
    text-align: right;
    width: 16%;
}

.show_padrao spam {
    background-color: #FFFFFF;
    float: left;
    margin: 1px;
    padding: 2px;
    width: 80%;
}

.show_padrao input[type='submit'] {
    float: right;
    margin-right: 15px;
}

/*
** TABELA PADRÃO
*/

table.tabela_padrao {
    width: 1018px;
    background-color: #EEEEEE;
}

table.tabela_padrao tr {
    padding: 2px;
    font-size: 14px;
    background-color: #FFFFFF;
}

table.tabela_padrao tr:hover {
    background-color: #B9CEE4;
}

table.tabela_padrao tr th {
    background-image: url("/images/fundo_tabela_01.jpg");
    padding: 5px;
}

table.tabela_padrao tr td {
    font-size: 13px;
}

table.tabela_padrao tr td.celula_label {
    width: 200px;
    text-align: right;
    background-color: #EFEFEF;
}

table.tabela_padrao tr td.celula_destaque {
    background-color: #EFEFEF;
}

table.tabela_padrao tr td.celula_neutra {
    background-color: #FFFFFF;
}

table.tabela_padrao tr td.espera {
    background: url("/images/espera.png") no-repeat 0px center;
    padding-left: 23px;
}

table.tabela_padrao tr td.aceita {
    background: url("/images/aceita.png") no-repeat 0px center;
    padding-left: 23px;
}

table.tabela_padrao tr td.atendida {
    background: url("/images/aceita.png") no-repeat 0px center;
    padding-left: 23px;
}

table.tabela_padrao tr td.finalizada {
    background: url("/images/finalizada.png") no-repeat 0px center;
    padding-left: 23px;
}

table.tabela_padrao tr td.cancelado_pelo_professor {
    background: url("/images/cancelado_pelo_professor.png") no-repeat 0px center;
    padding-left: 23px;
}

table.tabela_padrao tr td.cancelado_pelo_sistema {
    background: url("/images/cancelado_pelo_sistema.png") no-repeat 0px center;
    padding-left: 23px;
}

table.tabela_padrao tr td.rejeitada {
    background: url("/images/rejeitada.png") no-repeat 0px center;
    padding-left: 23px;
}

table.tabela_padrao tr td.aguardando {
    background: url("/images/espera.png") no-repeat 0px center;
    padding-left: 23px;
}

table.tabela_padrao tr td.cancelada {
    background: url("/images/cancelado_pelo_sistema.png") no-repeat 0px center;
    padding-left: 23px;
}

/*
** OPÇÕES DA VISÃO
*/

#opcoes_da_visao {
    clear: both;
}

#opcoes_da_visao ul {
    margin: 0px;
    margin-bottom: 10px;
    margin-top: -11px;
    padding-left: 10px;
}

#opcoes_da_visao ul li {
    height: 30px;
    float: left;
    margin: 0px;
    margin-right: 5px;
    padding: 5px;

    list-style-position: inside;

    font-size: 14px;
    color: #000000;

    border: solid 1px #999999;
    border-top: solid 1px #F5F5F5;
    background-color: #F5F5F5;
}


    /*********************************************/

#opcao_editar {
    list-style-image: url("/images/editar_big.png");
}

#opcao_excluir {
    list-style: url("/images/cancelar.png");
}

#opcoes_da_visao ul #opcao_voltar {
    list-style-image: url("/images/voltar.png");
}

#opcoes_da_visao ul #opcao_imprimir {
    list-style-image: url("/images/imprimir.png");
}

#opcoes_da_visao ul #opcao_aceitar {
    list-style-image: url("/images/aceitar.png");
}

#opcoes_da_visao ul #opcao_editar {
    list-style-image: url("/images/editar.png");
}

#opcoes_da_visao ul #opcao_cancelar {
    list-style-image: url("/images/cancelar.png");
}

#opcoes_da_visao ul #opcao_rejeitar {
    list-style-image: url("/images/rejeitar.png");
}
#opcoes_da_visao ul #opcao_alterar {
    list-style-image: url("/images/atualizar.png");
}

    /*********************************************/

#opcoes_da_visao ul li a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}


#opcoes_da_visao ul li a:hover {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    background-color: #DCDCDC;
}

#opcoes_da_visao ul li:hover {
    background-color: #DCDCDC;
}

/*
** RODAPE
*/

#rodape {
    width: 1012px;
    margin-top: 10px;
    padding: 5px;
    height: auto;
    display: table;
    background-color: #1A60B0;
}

#rodape #dados_gerais p {
    float: left;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    color: #FFFFFF;
}

#rodape #tecnologias{
    float: right;
}

.pular_linha {
    clear: both;
}

/*
** LINK EXIBIR DETALHES
*/

a.link_exibir_detalhes {
    text-decoration: none;
    color: #1A60B0;
}

a.link_exibir_detalhes:hover {
    background-color: #DB3333;
    color: #FFFFFF;
}

div.sucesso {
    font-family: verdana,arial,helvetica,sans-serif;;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    background :#DFFFDF url(../images/verdadeiro.png) no-repeat scroll 8px 5px;
    color :#005F00;
    border: 2px solid #9FCF9F;
    padding: 3px 3px 3px 30px;
}

div.erro {
    font-family: verdana,arial,helvetica,sans-serif;;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ffc7c7 url(../images/erro.png) no-repeat scroll 8px 1px;
    color :#000000;
    border: 2px solid #ff0000;
    padding: 3px 3px 3px 30px;
}

/*
** FORMULÁRIOS EMBUTIDOS
*/

.formularios_embutidos {
    padding: 5px;
    padding-top: 1px;
    margin: 0px;
    margin-top: 5px;
    font-size: 14px;
    background-color: #B9CEE4;
}

.formularios_embutidos form fieldset {
    padding-top: 30px;
    border: solid 1px #999999;
    background: #FFFFFF url("/images/formulario_embutido_fundo.png") repeat-x center bottom;
}

.formularios_embutidos form fieldset legend {
    margin-bottom: -23px;
    margin-left: -10px;
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    border-bottom: solid 1px #999999;
    border-right: solid 1px #999999;
    background-color: #B9CEE4;
}

.formularios_embutidos label {
    width: 180px;
    float: left;
    padding: 3px;
    text-align: right;
    color: #000000;
    background-color: transparent;
    font-weight: normal;
}

.show_padrao .campo_de_poucos_digitos {
    width: 80px;
}

.formularios_embutidos .campo_hora {
    width: 80px;
}

.botao_concluir {
    clear: both;
    float: right;
}

.formularios_embutidos textarea {
    width: 60%;
    height: 100px;
}

/*
** MENSAGENS DE ERRO
*/

#error_messages {
    width: 93%;
    margin: 4px;
    padding: 2px;
    padding-left: 60px;
    background: #ed6969 url("/images/erro_alerta.png") no-repeat center left;
    display: table;
    clear: both;
}

#error_messages ul {
    min-height: 50px;
    list-style-type: none;
    background: transparent;
    margin: 0px;
    padding: 0px;
}

#error_messages ul li {
    margin: 0px;
    padding: 0px;
    background: transparent;
    font-weight: bold;
    clear: both;
    font-family: verdana,arial,helvetica,sans-serif;;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
}

#error_messages ul li:hover {
    background: transparent;
}

#acesso_negado
{
    padding-left: 5px
}
#acesso_negado h2
{
    color: #ff0000
}
#acesso_negado .descricao
{
    font-size: 15px
}
#acesso_negado .descricao a
{
    font-size: 15px
}

div.erro_404 {
/*    background-color: #ececec;*/
    background: #ececec url("/images/warning.png") no-repeat 18% 50%;
    padding: 20px;
    border: solid 1px #dbdbdb;
    font-size: 15px;
    color: #1A60B0;
    text-align: center;
}

div.erro_500 {
    background: #ececec url("/images/internal_error.png") no-repeat 18% 50%;
    padding: 20px;
    border: solid 1px #dbdbdb;
    font-size: 15px;
    color: #1A60B0;
    text-align: center;
}

div.acesso_negado {
    background: #ececec url("/images/access_denied.png") no-repeat 18% 50%;
    padding: 20px;
    border: solid 1px #dbdbdb;
    font-size: 15px;
    color: #1A60B0;
    text-align: center;
}
a.error {
    padding-left: 35px;
    padding-bottom: 10px;
    background: url("/images/voltar.png") no-repeat;
    color: #1A60B0;
    font-size: 23px;
    font-weight: bold;
    text-decoration: none
}
a:hover.error {
    text-decoration: underline
}


/*
** LINK BOTÃO
*/

a.link_botao {
    text-decoration: none;
    color: #000000;
    padding: 2px;
    padding-left: 22px;
    background-image: url("/images/adicionar_dado.png");
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: 2px center;
    border: 1px solid #BBBBBB;
}

a.link_botao:hover {
    background-color: #B9CEE4;
}

/*
** JANELA DE LOGIN
*/

#janela_login {
    width: 500px;
}

#janela_login #login_usuario_senha {
    border: solid 1px #1d5bd3;
}

.invisivel
{
    display: none
}

.visivel
{
    display: block
}
.filtro {
  margin-left: 5px
}


/* Aceitar requisicão */

div#viagem_nova_existente fieldset,
div#viagem_nova fieldset {
	border: solid 1px #000000;
	margin-bottom: 10px;
	background: none !important;
	padding: 5px !important;
}

div#viagem_nova_existente fieldset legend,
div#viagem_nova fieldset legend {
    margin-left: 5px;
	font-size: 12px;
	font-weight: bold;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
	background-color: white !important;
	border: 0px !important;
	padding:0px !important;
}
.label_obrigatorio {
  color: red !important;
}
.texto_livre {
    padding: 5px
}
.ativo {
    background: url("/images/aceita.png") no-repeat 0px center;
    padding-left: 23px;
}
.inativo {
    background: url("/images/cancelado_pelo_professor.png") no-repeat 0px center;
    padding-left: 23px;
}

/* Vencimento CNH */

.vencimento_cnh h2 {
    color: #1A60B0;
    margin-left: 10px;
}

.vencimento_cnh input {
    margin-top: 10px;
    float: right;
}

/* AVISO */

.aviso {
    background: #ffe048 url("/images/aviso.png") no-repeat 10px center;
    padding: 1px 50px;
}

.aviso p {
    font-weight: bold;
}

.aviso a {
    font-weight: bold;
    float: right;
}
#box_busca {
    margin: 5px;
    border: 1px solid #999999;
    padding: 5px
}
#box_filtrar {
    float: right;
    margin-left: 40px;
    padding-left: 40px
}
#box_buscar {
    float: left;
}
#buscar_select {
    float: left
}
#box_data, #box_nome, #box_protocolo, #box_data_de_partida, #box_data_de_chegada, #box_motorista, #box_placa {
    float: left;
    margin-left: 5px;
    margin-right: 5px
}
.clear {
    clear: both
}

