<div class="show_padrao">
  <h1>Relatório anual de atendimento</h1>

  <% form_for @relatorio, :url => {:action => 'generate_atendimento'} do |f| %>
    <%= mensagem_de_erro(@relatorio) %>

    <p>
      <%= f.label :ano, "Ano" %>
      <%= f.text_field :ano, :class => "campo_de_poucos_digitos" %>
    </p>

    <%= f.submit 'Gerar relatório' %>
  <% end %>
</div>

