<div id="tabela_exibir">
  <div class="index_relatorios">
    <ul>
      <li>
        <%= link_to "Relatório de quilometragem", relatorios_quilometragem_path %>
      </li>
      <li>
        <%= link_to "Relatório de atendimento", relatorios_path %>
      </li>
    </ul>
  </div>
</div>

