<div id="tabela_exibir">
  <div class="index_relatorios">
    <ul>
      <li>
        <%= link_to "Km percorridos", relatorios_km_percorridos_path %>
      </li>
      <li>
        <%= link_to "Status das requisições", relatorios_path %>
      </li>
      <li>
        <%= link_to "Horas trabalhadas por motorista", relatorios_path %>
      </li>
    </ul>
  </div>
</div>

