<div class="show_padrao vencimento_cnh">
  <h2>Os motoristas abaixo estão com a CNH para vencer</h2>
  <table id="base_de_dados" class="tabela_padrao">
    <tr>
      <th>Nome</th>
      <th>Data de vencimento da CNH</th>
    </tr>
    <% @motoristas.each do |id| %>
      <% motorista = Motorista.find(id) %>
      <tr>
        <td><%= motorista.nome %></td>
        <td><%= motorista.vencimento_habilitacao.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </table>

  <% form_tag("/motoristas/retirar_aviso_cnh") do %>
        <%= submit_tag "Ok, esconder aviso" %>
  <% end %>
</div>

