<% if current_user.has_role? :admin %>
  <% admin = "True" %>
  <a href="/centros/new" class="link_new">Adicionar Centro</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th class="celula_neutra_estatica"></th>
    <th>Nome</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @centros.each do |centro| %>
  <tr>
    <%= td_status centro %>
    <%= td_clickable centro_path(centro), centro.nome %>
    <% if admin %>
      <%= td_clickable edit_centro_path(centro),
                       image_tag("editar_dado.png", :border => 0, :alt => "Editar") %>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

