<% if current_user.has_role? :admin %>
  <a href="/centros/new" class="link_botao">Adicionar Centro</a>
<% end %>

<table id="base_de_dados" class="tabela_base_de_dados">
  <tr>
    <th>Nome</th>
    <th class="celula_neutra_estatica"></th>
  </tr>

<% @centros.each do |centro| %>
  <tr>
    <td onclick="location.href='<%= centro_path(centro) %>'" onmouseover="this.style.cursor='pointer'"><%=h centro.nome %></td>
    <% if current_user.has_role? :admin %>
      <td onclick="location.href='<%= edit_centro_path(centro) %>'" onmouseover="this.style.cursor='pointer'"><%= link_to image_tag("editar_dado.png", :border => 0, :alt => "Editar"), edit_centro_path(centro) %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

