<div class="show_padrao">

  <h1>Dados do Centro</h1>

  <div class="show_linha">
    <div class="linha_titulo">Nome:</div>
    <div class="linha_texto"><%=h @centro.nome %></div>
  </div>
  
  <div class="show_linha">
    <div class="linha_titulo">Estado:</div>
    <div class="linha_texto"><%=h @centro.estado %></div>
  </div>  

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_centro_path(@centro) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_centro_path(@centro) %></li>
  </ul>
</div>

