<div class="show_padrao">

  <h1>Dados do centro</h1>

  <p>
    <label>Nome:</label>
    <spam><%=h @centro.nome %></spam>
  </p>

  <p>
    <label>Status:</label>
    <spam><%=h @centro.status %></spam>
  </p>

</div>

<div id="opcoes_da_visao">
  <ul>
    <li id="opcao_voltar" onclick="history.back(-1)" onmouseover="this.style.cursor = 'pointer'">Voltar</li>
    <li id="opcao_editar" onclick="location.href='<%= edit_centro_path(@centro) %>'" onmouseover="this.style.cursor = 'pointer'"><%= link_to 'Editar', edit_centro_path(@centro) %></li>
  </ul>
</div>

