<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>SGTRAN - Sistema de gerenciamento de transporte</title>
  <%= stylesheet_link_tag 'requisicoes' %>
  <%= javascript_include_tag "application.js" %>

</head>
<body>

<div id="cabecalho"></div>

<!-- ======================================================================= -->

<% unless flash[:sucesso].blank? %>
    <div class="sucesso"><%= flash[:sucesso] %></div>
<% end %>

<!-- ======================================================================= -->

<%= yield %>


<!-- ======================================================================= -->

</body>
</html>

